@model string[]

<span>
    <b>Choose a repository:</b>
    @{
        @foreach (var item in this.Model)
        {
            <input disabled="disabled" type="radio" name="repository" value="@item" id="@item" checked="@this.Context.GetRequestedRepository().Equals(@item)" />
            <label for="@item"><a asp-route-repository="@item">@item</a></label>
        }
    }
</span>
